.titulo{

    background: #f7fafb;
    padding: 10px 0;
  
    h5{
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 25px;
        margin: 10px;
    }
  
  }
  
  .card{
      border-radius: 0.8rem;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
    }
  
  .card-header{
      border-top-left-radius: 0.8rem;
      border-top-right-radius: 0.8rem;
  
  
  }
  
  img{
      width: auto;
      border-top-left-radius: 0.8rem;
      border-top-right-radius: 0.8rem;
  }
  